asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
Django==6.0.5
django-allauth==65.16.1
django-anymail==15.0
django-axes==8.3.1
django-crispy-forms==2.6
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.17.1
idna==3.15
joblib==1.5.3
matplotlib==3.10.9
numpy==2.4.6
opencv-python==4.13.0.92
packaging==26.2
pandas==3.0.3
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
pytz==2026.2
reportlab==4.5.1
requests==2.34.2
scikit-learn==1.8.0
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
